/*reseteo de css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*Etiquetas*/
form fieldset button img{
    height: 15px;
    width: 25px;
}
p{
    font-family: sans-serif;
}
h2{
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-left: 2rem;
    padding-top: 2rem;
}
h3{
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
footer{
    background-color: silver;
}
body{
    background-image: linear-gradient(to bottom, rgb(214, 202, 202), rgb(97, 91, 91));
}
table tr th{
    border-color: crimson;
    color: darkgoldenrod;   
    background-color: black;
    text-transform: uppercase;
}
table{
    background-color: rgb(221, 216, 216);
    margin-bottom: 2rem;
}
fieldset{
    padding: 5px 25px 125px 25px ;
    background-color: rgba(36, 43, 43, 0.445);
}
fieldset.nutri{
    padding:2rem;
    margin-bottom: 3rem;
}
header{
    display: flex;
    flex-direction: column;
}
/*Clases*/
.img-size-vert{
    width: 213px; 
    height: 320px;
}
.img-size-hori{
    width: 320px;
    height:213px;
}
.lista-afuera{
    list-style-position: outside;
}
.lista-adentro{
    list-style-position: inside;
}
.none-dot{
    list-style: none;
}
.contactos{
    border: solid black 1px;
    margin: 0rem 2rem 1rem 3rem ;
    float: left;
    padding: 20px 50px 232px 20px;
    background-color: rgba(36, 43, 43, 0.445);

}
.horarios-direccion{
    border: solid black 1px;
    margin:0rem 1rem 1rem 2rem ;
    float: left;
    padding: 25px 25px 65px 50px ;
    background-color: rgba(36, 43, 43, 0.445);
}
.protocolo{
    display: block;
    margin-top: 8rem;
    margin-left: 24rem;
    margin-bottom: 2rem;
    float: left;
}
.footer{
    justify-content: space-evenly;
    margin-left: 32rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 15rem;
    float: left;
}
.img-hori-staff{
    width: 320px;
    height: 213px; 
}
.img-size-vert-pablo{
    width: 213px; 
    height: 320px;
    margin: 0rem 1rem;
}
.img-size-vert-pablo1{
    width: 213px; 
    height: 320px;
    margin: 0rem 1rem;
}
.img-size-hori-pablo{
    width: 320px;
    height: 213px;
    margin-bottom: 3rem;
}
.img-size-hori-ignacio1{
    width: 320px;
    height: 213px;
    margin-bottom: 1rem;
}
.img-size-hori-ignacio2{
    width: 320px;
    height: 213px;
    margin-bottom: 6rem;
}
.img-size-vert-ronaldo{
    width: 213px; 
    height: 320px;
    margin: 0rem 3rem 0rem 1rem;
}
.img-size-hori-anto{
    width: 320px;
    height: 213px;
    margin: 4rem 1rem 0rem 1rem;
}
.img-size-hori-anto2{
    width: 320px;
    height: 213px;
    margin: 2rem 1rem;
}
.img-size-hori-anto3{
    width: 320px;
    height: 213px;
    margin: 0rem 1rem 4rem 1rem ;
}
.img-size-hori-ins2{
    width: 480px;
    height: 320px;
    margin: 2rem 5rem 3rem 7rem;
}
.img-size-hori-ins3{
    width: 480px;
    height: 320px;
    margin: 0rem 0rem 5rem 1rem ;
}
.img-size-hori-ins4{
    width: 480px;
    height: 320px;
    margin: 2rem 5rem 0rem 4rem;
}
.img-size-hori-ins5{
    width: 480px;
    height: 320px;
    margin: 0rem 0rem 3rem 2rem;
}
.center-table{
    display: flex;
    justify-content: center;
}
.tipografia-sans-serif{
    font-family: 'Roboto', sans-serif;
}
.form-nutricion{
    width: 55%;
    height: 40rem;
    margin-left: 2rem;
}
.nombre{
    width: 30rem;
}
.email{
    width: 31rem ;
}
.telefono{
    width: 30rem;
}
.tipo-de-nutricion{
width: 26rem;
}
.dias-entrenamiento-semanal{
    width: 19rem;
}
.comentario{
    width: 29rem;
    padding-bottom: 7rem;
}
/*mixtos*/
div.protocolo h3{
    margin-left: 9rem;
}
/*Media Querries*/
@media only screen and (max-width:320px)/*ok*/
{
.protocolo{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 20rem;
}
.contactos{
    width: 19rem;
    margin: 2rem 0.5rem 4rem 0rem;
    height: 30rem;
    flex: 1;
}
.horarios-direccion{
    margin: -2rem 0rem 2rem 0rem;
    width: 19rem;
    flex: 2;
}
.footer {
    justify-content: space-evenly;
    margin-left: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 18rem;
    float: none;
    padding: 0.2rem 0rem;
}
.horarios-mf1{
    text-align: center;
}
.direccion-mf1{
    text-align: center;
}
div.horarios-direccion img.img-size-hori{
    width: 17rem;
    margin: 1rem 0rem -3rem -2.5rem;
}
section.contactos-horarios{
    margin-left: 0.5rem;
}

}
@media only screen and (min-width:321px) and (max-width:360px) /*ok*/
{
    main{
        display: flex;
        flex-direction: column;
        width: 22.5rem;
    }
    .contactos{
        width: 21.43rem;
        margin: 2rem 1rem 4rem 0rem;
        height: 30rem;
        flex: 1;
    }
    .horarios-direccion{
        margin: -2rem 1rem 2rem 0rem;
        width: 21.43rem;
        flex: 2;
    }
    .protocolo{
        grid-column: 1;
        grid-row: 3;
        margin-left: 23rem;
        display: none;
    }
    .footer {
        justify-content: space-evenly;
        margin-left: 2.6rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 18rem;
        float: none;
        padding: 0.2rem 0rem;
    }
    .horarios-mf1{
        text-align: center;
    }
    .direccion-mf1{
        text-align: center;
    }
    div.horarios-direccion img.img-size-hori{
        width: 19.43rem;
        margin: 1rem 0.5rem -3rem -2.2rem;
    }
    section.contactos-horarios{
        margin-left: 0.5rem;
    }
}
@media only screen and (min-width:361px) and (max-width:409px)/*ok*/
{
.protocolo{
    display: none;
}
.footer {
    justify-content: space-evenly;
    margin-left: 2.6rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 18rem;
    padding: 0.2rem 0rem;
    float: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 22.5rem;
}
.contactos{
    width: 21.43rem;
    margin: 2rem 1rem 4rem 0rem;
    height: 30rem;
    flex: 1;
}
.horarios-direccion{
    margin: -2rem 1rem 2rem 0rem;
    width: 21.43rem;
    flex: 2;
}
.horarios-mf1{
    text-align: center;
}
.direccion-mf1{
    text-align: center;
}
div.horarios-direccion img.img-size-hori{
    width: 19.43rem;
    margin: 1rem 0.5rem -3rem -2.2rem;
}
section.contactos-horarios{
    margin-left: 1rem;
}
}
@media only screen and (min-width:410px) and (max-width:425px)/*ok*/
{
   main{
        display: flex;
        flex-direction: column;
        width: 23rem;
    }
    .contactos{
        width: 21.43rem;
        margin: 2rem 1rem 4rem 0rem;
        height: 30rem;
        flex: 1;
    }
    .horarios-direccion{
        margin: -2rem 1rem 2rem 0rem;
        width: 21.43rem;
        flex: 2;
    }
    section.contactos-horarios{
        margin-left: 2.5rem;

    }
    div.horarios-direccion img.img-size-hori{
        width: 19.43rem;
        margin: 1rem 0.5rem -3rem -2.2rem;
    }
    .protocolo{
        grid-column: 1;
        grid-row: 3;
        margin-left: 23rem;
        display: none;
    }
    .footer {
        justify-content: space-evenly;
        margin-left: 4rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 18rem;
        float: none;
        padding: 0.2rem 0rem;
    }
    .horarios-mf1{
        text-align: center;
    }
    .direccion-mf1{
        text-align: center;
    }
}
@media only screen and (min-width:425px)  and (max-width:768px)/*ok*/
{
    .protocolo{
        display: none;
    }
    .footer {
        justify-content: space-evenly;
        margin-left: 4.2rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 18rem;
        float: none;
        padding: 0.2rem 0rem;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .contactos{
        width: 24,56rem;
        margin: 1rem;
        height: 30rem;
        flex: 1;
        padding-bottom: 3rem;
    }
    .horarios-direccion{
        margin:1rem;
        width: 24,56rem;
        flex: 2;
    }
    div.horarios-direccion img.img-size-hori{
        width: 21rem;
        margin: 1rem 0.22rem -2rem -1.2rem;
    }
    .horarios-mf1{
        text-align: center;
    }
    .direccion-mf1{
        text-align: center;
    }
}
@media only screen and (min-width:768px)  and (max-width:1023px)/*ok*/
{
.footer {
    justify-content: space-evenly;
    margin-left: 15.1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 18rem;
    float: none;
    padding: 0.2rem 0rem;
}
main{
    display: flex;
    flex-direction: column;
}
.contactos{
    width: 40rem;
    margin: 1rem 5rem;
    height: 30rem;
    flex: 1;
    padding-bottom: 13.5rem;
}
.horarios-direccion{
    margin:1rem 5rem;
    width: 40rem;
    flex: 2;
}
div.horarios-direccion img.img-size-hori{
    width: 21rem;
    margin: 1rem 0.22rem -2rem 6rem;
}
.horarios-mf1{
    text-align: center;
}
.direccion-mf1{
    text-align: center;
}
.protocolo{
    grid-column: 1;
    grid-row: 3;
    margin: 1rem 6.6rem ;
}
}
@media only screen and (min-width:950px) and (max-width:1025px)/*ok*/
{
main{
    display: flex;
    flex-direction: column;
}
section.contactos-horarios{
    flex: 1;
}
section.contactos-horarios{
    display: flex;
    flex-direction: row;
    margin: 2rem 0rem;
}
.horarios-direccion{
    padding-right: 3rem;
    margin-right: 3rem;

}
.protocolo{
    flex: 2;
    margin-left: 14.5rem;
    margin-top: 0rem;
}
.footer {
    justify-content: space-evenly;
    margin-left: 23rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 18rem;
    float: none;
    padding: 0.2rem 0rem;
}
}
@media only screen and (min-width:1026px){
    main{
        display: flex;
        flex-direction: column;
    }
    section.contactos-horarios{
        flex: 1;
    }
    section.contactos-horarios{
        display: flex;
        flex-direction: row;
        margin: 2rem 0rem;
    }
    .horarios-direccion{
        padding-right: 3rem;
        margin-right: 3rem;
    
    }
    .protocolo{
        flex: 2;
        margin-left: 23rem;
        margin-top: 0rem;
    }
    .footer {
        justify-content: space-evenly;
        margin-left: 31rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 18rem;
        float: none;
        padding: 0.2rem 0rem;
    }
}
@media only screen and (min-width:1440px){
section.contactos-horarios{
    margin-left: 4rem;
}
.protocolo{
    margin-left: 28rem;
}
.footer{
    margin-left: 36rem;
}
}
